Repository pyqtgraph/pyqtgraph, pull requests merged in 2019-06, with the labels that each got.

#908 Add pytest config file specifying colordepth when using pytest-xvfb
  pytest.ini
Labels: test-code

#911 Overhaul testExamples
  examples/__main__.py
  examples/test_examples.py
  examples/utils.py
Labels: test-code

#954 Add mesa drivers to windows CI images and show openGL info during debug stage
  azure-test-template.yml
  pyqtgraph/opengl/glInfo.py
  pytest.ini
Labels: test-code

#969 Corrected documentation for heightColor shader
  pyqtgraph/opengl/shaders.py
Labels: docs

#659 Add Dock test and remove outdated comments
  pyqtgraph/dockarea/Dock.py
  pyqtgraph/dockarea/tests/test_dock.py
Labels: Dock
